:root{
    --background:#fff;
    --foreground:#6e07f3;
    --primary:#141c3a;
    --primary-light:#cdd3eb
    --primary-foreground:#fff;
    --secondary:#5be8b9;
    --secondary-foreground:#141c3a;
}