.skill-overlay{
    background-color: var(--foreground);
    height: 10rem;
}

.skills .container{
    margin-top: -10rem;
}

.skills .grid{
    background-color: var(--background);
    margin: 0 2rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 3px 5px var(--primary-light);
}

.skills .skill{
    text-align: center;
    border-right: 0;
    border-bottom: 1px solid var(--primary-light);
    color: var(--primary);
    padding: 5rem 2rem;
}

.skills .skill:last-child{
    border-right: 0;
    border-bottom: 0;
}

.skill-icon{
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    margin: auto;
}

.skill-icon img{
    width: 4rem;
    height: 4rem;
}