.worked-with{
    border-top: .1rem solid var(--primary-light);
    padding: 8rem 2rem;
    text-align: center;
    color: var(--primary);
}

.worked-with .title{
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
}

.worked-with .grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.worked-with .grid img{
    width: 100%;
}

@media(width>600px){
    .worked-with .title{
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .worked-with .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(width>900px){
    .worked-with .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}